<div class="footer-wrapper">
  <footer>
    <div #footerNav class="footer-nav">
      <div class="footer-nav__links">
        <a href="https://www.linkedin.com/in/nicolas-escandarani/" target="_blank">LinkedIn</a>
        <a href="https://github.com/nicoescandarani" target="_blank">Github</a>
        <a href="mailto:nico@escandarani.com.ar">Contact</a>
      </div>
      <div class="footer-nav__copyrights">
        <p>&copy; 2022, Nicolas Escandarani - Buenos Aires, Argentina</p>
      </div>
    </div>
  </footer>
</div>
