$height: 590px;
$width: 700px;

canvas {
  cursor: pointer;
  // animation: zoom 4s forwards ease-in-out 1s;
}

.canvas-wrapper {
  height: $height;
  width: $width;
  transition: all 0.3s ease-in-out;
  padding: 0 40px;
}

@keyframes zoom {
  0% {
    height: 100vh;
    width: 100%;
  }
  100% {
    height: $height;
    width: $width;
  }
}

@media (max-width: 768px) {
  .canvas-wrapper {
    padding: 0 50px;
  }
}

@media (max-width: 700px) {
  .canvas-wrapper {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 540px) {
  .canvas-wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .canvas-wrapper {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 300px) {
  .canvas-wrapper {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 200px) {
  .canvas-wrapper {
    height: 100px;
    width: 100px;
  }
}
