<div class="color-main-wrapper">
  <div class="color-main color-main--right color-main--auto-height color-main--first"></div>
  <div class="main-view-wrapper main-view-wrapper--about">
    <div class="primary-overlay-wrapper">
      <div class="primary-overlay primary-overlay--first primary-overlay--no-shadow"></div>
    </div>
    <div class="main-content main-content--no-padding main-content--about">
      <div class="about__preamb">
        <div class="preamb__text">
          <h3 class="indent">I'm an Argentinian Front-End Web Developer, always on the lookout for new technologies and awesome ways to make the web fun and interactive.</h3>
          <div class="text-wrapper">
            <p class="underline">I am passionate about creating great experiences.</p>
          </div>
        </div>
        <img src="assets/img/pixel-nico.png" alt="Nicolas Escandarani">
      </div>
    </div>
  </div>
</div>
<div class="color-main-wrapper">
  <div class="color-main color-main--right color-main--auto-height color-main--second"></div>
  <div class="main-view-wrapper main-view-wrapper--about">
    <div class="primary-overlay-wrapper">
      <div class="primary-overlay primary-overlay--second primary-overlay--no-shadow"></div>
    </div>
    <div class="main-content main-content--no-padding main-content--about">
      <div class="about__about-me about__story">
        <h3 class="underline">A little about me:</h3>
        <p class="indent">Since childhood, I've been drawn to computers, so it was only natural for me to decide to become a software engineer. However, my journey didn’t start there. Initially, I studied music and sound engineering, but it wasn’t the right fit for me.</p>
        <p>With the support of my family, friends, and girlfriend, I began my studies in software engineering and embarked on this exciting journey.</p>
        <p class="indent">I started my career as a backend developer using Java but later transitioned to the frontend, specializing in Angular. However, I firmly believe that the specific framework or technology used is not as important as one's ability to adapt to various requirements.</p>
        <p class="underline underline--natural">Same with programming languages!</p>
        <p>The same goes for programming languages! I have completed several projects with Vue.js, some with React.js, and I'm currently working full-time as an Angular Developer.</p>
      </div>
    </div>
  </div>
</div>
<div class="color-main-wrapper">
  <div class="color-main color-main--right color-main--auto-height color-main--third"></div>
  <div class="main-view-wrapper main-view-wrapper--about main-view-wrapper--margin">
    <div class="primary-overlay-wrapper">
      <div class="primary-overlay primary-overlay--third primary-overlay--no-shadow"></div>
    </div>
    <div class="main-content main-content--no-padding main-content--about">
      <div class="about__about-me">
        <h3 class="underline underline--no-margin">Technologies I Use:</h3>
        <div class="techs-wrapper">
          <div class="techs">
            <div class="tech" *ngFor="let tech of techs">
              <img [src]="tech.img" [alt]="tech.name">
              <p>{{ tech.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
