<div class="color-main-wrapper">
  <div class="color-main color-main--right color-main--auto-height color-main--first"></div>
  <div class="main-view-wrapper main-view-wrapper--about">
    <div class="primary-overlay-wrapper">
      <div class="primary-overlay primary-overlay--first primary-overlay--no-shadow"></div>
    </div>
    <div class="main-content main-content--no-padding main-content--about">
      <div class="about__preamb">
        <div class="preamb__text">
          <h3 class="indent">I'm an argentinian Front-End Web Developer always looking for new technologies and awsome ways to make the web fun and interactive.</h3>
          <div class="text-wrapper">
            <p class="underline">I love creating great experiences.</p>
          </div>
        </div>
        <img src="assets/img/pixel-nico.png" alt="Nicolas Escandarani">
      </div>
    </div>
  </div>
</div>
<div class="color-main-wrapper">
  <div class="color-main color-main--right color-main--auto-height color-main--second"></div>
  <div class="main-view-wrapper main-view-wrapper--about">
    <div class="primary-overlay-wrapper">
      <div class="primary-overlay primary-overlay--second primary-overlay--no-shadow"></div>
    </div>
    <div class="main-content main-content--no-padding main-content--about">
      <div class="about__about-me about__story">
        <h3 class="underline">A little about me</h3>
        <p class="indent">I've always been attracted to computers since a little child, so it made sence my decition to become a software engineer. But first I studied music and sound engineering. Didn't work out though for me.</p>
        <p>At that time, with help of my family, friends and girlfriend I started my studies and began this journy.</p>
        <p class="indent">I started as a backend developer with Java and shifted towards frontend with Angular, though I strongly believe that the framework that one uses is irrelevant as long as you can adapt to any requirement.</p>
        <p class="underline underline--natural">Same with programming languages!</p>
        <p>I've done several projects with Vuejs, some with Reactjs and currently I'm working as a fulltime Angular Developer.</p>
        <p>So yeah! Here I am. A 27 year old software developer updating his website.</p>
      </div>
    </div>
  </div>
</div>
<div class="color-main-wrapper">
  <div class="color-main color-main--right color-main--auto-height color-main--third"></div>
  <div class="main-view-wrapper main-view-wrapper--about main-view-wrapper--margin">
    <div class="primary-overlay-wrapper">
      <div class="primary-overlay primary-overlay--third primary-overlay--no-shadow"></div>
    </div>
    <div class="main-content main-content--no-padding main-content--about">
      <div class="about__about-me">
        <h3 class="underline underline--no-margin">Technologies I use</h3>
        <div class="techs-wrapper">
          <div class="techs">
            <div class="tech" *ngFor="let tech of techs">
              <img [src]="tech.img" [alt]="tech.name">
              <p>{{ tech.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
