.about {
  &__preamb {
    padding-top: 30px;
    min-height: 640px;
    position: relative;

    p {
      font-size: 30px;
      text-align: end;
    }

    img {
      position: absolute;
      max-width: 260px;
      right: 0;
      bottom: 0;
      transform: translateY(30%);
    }
  }

  &__about-me {
    padding-top: 30px;
    min-height: 640px;

    p {
      font-size: 30px;
      text-align: end;
      line-height: 50px;
    }
  }
}

h3 {
  font-size: 32px;
  margin-bottom: 90px;
  line-height: 50px;
}

.main-content {
  &--about {
    position: relative;
  }
}

.preamb {
  &__text {
    max-width: 1024px;
  }
}

.pixel-nico-wrapper {
  padding-left: 20px;
  max-width: 360px;
  width: 100%;

  img {
    margin-left: 80px;
    height: 100%;
    width: 100%;
  }
}

.techs-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.techs {
  max-width: 90%;
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    max-width: 100px;
    object-fit: contain;
  }
}

.text-wrapper {
  display: flex;
  justify-content: flex-end;
}

.underline {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 30px;
    background-color: #EEBCFF;
    animation: underlineIn 0.3s forwards ease-in-out 0.4s;
  }

  &--no-margin {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  h3 {
    font-size: 30px;
  }

  .about {
    &__preamb {
      p {
        font-size: 28px;
      }

      img {
        max-width: 220px;
        transform: translateY(16%);
      }
    }
  }

  .techs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 60px;
  }

  .about {
    &__preamb {
      min-height: 570px;
    }

    &__about-me {
      min-height: auto;
      padding: 36px 0;

      p {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }

  .main-content {
    padding: 0 50px;
  }

  .techs {
    grid-template-columns: repeat(3, 1fr);
  }

  .tech {
    img {
      height: 80px;
      max-width: 80px;
    }
  }
}

@media (max-width: 540px) {
  .main-content {
    padding: 0 20px;
  }

  .about {
    &__about-me {
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

@media (max-width: 460px) {
  h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .about {
    &__preamb {
      min-height: auto;
      text-align: right;

      img {
        position: static;
        transform: translateY(10%);
        margin-left: auto;
      }

      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .preamb{
    &__text {
      text-align: start;
    }
  }

  .techs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 300px) {
  .techs {
    grid-template-columns: repeat(1, 1fr);
  }
}
