<h2 class="about__title margin">A little about me</h2>

<div class="wrapper">
  <div class="left">
    <p class="about__about little-margin">I'm an argentinian Front-End Web Developer always looking for new technologies and awsome ways to make the web fun and interactive.</p>
    <p class="about__subtitle">I love creting great experiences.</p>
  </div>

  <div class="right">
    <div class="techs">
      <div *ngFor="let tech of techs; let i = index" class="tech">
        <div class="tech-item tech-item--alignment" [ngClass]="{
          'tech-icon': true,
          'right-aligned': (i + 1) % 2 === 0
        }">
          <img src="{{tech.img}}" alt="{{tech.name}}">
          <p>{{tech.name}}</p>
        </div>
        <div class="tech-item tech-item--mobile-alignment" [ngClass]="{
          'tech-icon': true,
          'right-aligned': i % 3 === 2,
          'center-aligned': i % 3 === 1
        }">
          <img src="{{tech.img}}" alt="{{tech.name}}">
          <p>{{tech.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
