<nav>
  <a (click)="navigateTo('/')">
    <h1>Nicolas Escandarani</h1>
  </a>
  <ul>
    <li>
      <a
        class="link"
        (click)="navigateTo('/')"
        [ngClass]="{'link--active': currentRoute === '/'}"
      >
        Home
      </a>
    </li>
    <li>
      <a
        class="link"
        (click)="navigateTo('/about')"
        [ngClass]="{'link--active': currentRoute === '/about'}"
      >
        About
      </a>
    </li>
    <li>
      <a
        class="link"
        (click)="navigateTo('/works')"
        [ngClass]="{'link--active': currentRoute === '/works'}"
      >
        Works
      </a>
    </li>
  </ul>
</nav>
