<nav>
  <a
    href="#"
    routerLink=""
    routerLinkActive="link--active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <h1>Nicolas Escandarani</h1>
  </a>
  <ul>
    <li>
      <a href="#" class="link"
        routerLink=""
        routerLinkActive="link--active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Home
      </a>
    </li>
    <li>
      <a href="#" class="link"
        routerLink="about"
        routerLinkActive="link--active"
      >
        About
      </a>
    </li>
    <li>
      <a href="#" class="link"
        routerLink="works"
        routerLinkActive="link--active"
      >
        Works
      </a>
    </li>
  </ul>
</nav>
