nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 70px;
  height: 70px;
}

ul {
  list-style: none;
  display: flex;

  a {
    display: block;
    padding: 4px 8px;
  }
}
