<nav>
  <ul>
    <h2
      routerLink=""
      class="name-link"
    >
    &#60;N /&#62;
    </h2>
    <li>
      <a href="#" class="link"
        routerLink=""
        routerLinkActive="link--active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Home
      </a>
    </li>
    <li>
      <a href="#" class="link"
        routerLink="works"
        routerLinkActive="link--active"
      >
        Works
      </a>
    </li>
    <li>
      <a href="#" class="link"
        routerLink="about"
        routerLinkActive="link--active"
      >
        About
      </a>
    </li>
  </ul>
</nav>