<div class="main-wrapper">
  <div #overlayPrimary class="overlay overlay--primary"></div>
  <div #overlaySecondary class="overlay overlay--secondary"></div>
  <div class="nav-wrapper">
    <app-navbar (navigateEmmit)="animateRoute()"></app-navbar>
  </div>
  <div class="main-container calc-height">
    <router-outlet class="calc-height"></router-outlet>
  </div>

  <!-- ! To prevent animation change the *ngIf to false. By default should be showLoader -->
  <app-loader (doneAnimations)="doneAnimations()" *ngIf="false"></app-loader>
</div>
