$overlayShadow: 4px -4px 10px #29292971;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #1C1C1C;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

// ! Classes.

.main-view-wrapper {
  min-height: 100vh;
  max-width: 1728px;
  margin: 0 auto;
  width: 100%;
  position: relative;

  &--about {
    min-height: auto;
  }

  &--margin {
    margin-bottom: 80px;
  }
}

.main-content {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  padding-top: 80px;

  &--no-padding {
    padding-top: 0;
  }

  &--about {
    padding-bottom: 0;
  }
}

.primary-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  z-index: -1;
  height: 100%;
  border-radius: 36px 0 0 0;
  background-color: #2A2B36;
  padding-top: 20px;
  min-height: 640px;

  &--second {
    width: 84%;
    background-color: #32323b;
    box-shadow: $overlayShadow;
  }

  &--third {
    width: 88%;
    background-color: #3d3d47;
    box-shadow: $overlayShadow;
  }
}

// ! Keyframes.

@keyframes move-right-left-normal {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left-right {
  0% {
    right: 0;
  }
  100% {
    right: -40px;
  }
}

@keyframes move-right-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(-84px) translateZ(50px) scale(0.9);
  }
}

@keyframes preview-animation {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes preview-animation-2 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-4px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes underlineIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ! Breakpoints

@media (max-width: 870px) {
  .home-card {
    max-width: 90%;
  }
}

