<div class="overlay"></div>

<div class="main-wrapper">
  <div class="color-main  color-main--home color-main--right"></div>
  <div class="home-card-wrapper">
    <div class="home-card" data-tilt data-tilt-glare data-tilt-max-glare="0.03" data-tilt-full-page-listening>
      <h2 class="home__subtitle">Software developer</h2>
      <a href="assets/pdf/NICOLAS_ESCANDARANI_CV_ENG.pdf" class="home__download" target="_blank">
        <span>Download cv</span>
        <img src="assets/img/right-arrow.svg" alt="Download cv">
      </a>
    </div>
  </div>
  <div class="mountains-wrapper">
    <app-mountains></app-mountains>
  </div>
</div>

<app-footer></app-footer>
